<!DOCTYPE html>
<html>
    <head>
        <title>
           Page not found 
        </title>
    </head>
    <body >
        <section>
            <h2>Not Found</h2>
            <p><%= request.path%></p>
        </section>
    </body>
</html>