<!DOCTYPE html>
<html>
    <head>
        <title>
           not found 
        </title>
    </head>
    <body >
        <section>
            <h1>Not Found</h1>
            <p><%= request.path%></p>
        </section>
    </body>
</html>